<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration  status="OFF">-->
<!--    &lt;!&ndash;定义日志文件的存储地址目录 &ndash;&gt;-->
<!--    <property name="LOG_HOME" value="/Users/yuqijun/yuqijun/local-service-log/log" />-->

<!--    &lt;!&ndash; 控制台输出的配置 &ndash;&gt;-->
<!--    <appender name="STDOUT"-->
<!--              class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder-->
<!--                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%L - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 每天生成一个.log日志文件 &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;日志文件输出的文件名，我们使用的是路径${LOG_HOME}+文件名（文件名里面加了日期） &ndash;&gt;-->
<!--            <FileNamePattern>${LOG_HOME}/test07.%d{yyyy-MM-dd}.log</FileNamePattern>-->
<!--            &lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
<!--            <MaxHistory>30</MaxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 &ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%L - %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;日志文件最大的大小，默认是10MB，超过这个就会备份为一个压缩文件 &ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>10MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 每天生成一个html格式的日志 &ndash;&gt;-->
<!--    <appender name="HtmlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;日志文件输出的文件名 &ndash;&gt;-->
<!--            <FileNamePattern>${LOG_HOME}/test07.%d{yyyy-MM-dd}.html</FileNamePattern>-->
<!--            &lt;!&ndash;日志文件保留天数 &ndash;&gt;-->
<!--            <MaxHistory>30</MaxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="ch.qos.logback.classic.html.HTMLLayout">-->
<!--                <pattern>%p%d%msg%M%F{32}%L</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;日志文件最大的大小 &ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>10MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 生成html格式的WARN级别日志 &ndash;&gt;-->
<!--    <appender name="WARNHtmlFile" class="ch.qos.logback.core.FileAppender">-->
<!--        &lt;!&ndash; 过滤器，只记录WARN级别的日志 &ndash;&gt;-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->

<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="ch.qos.logback.classic.html.HTMLLayout">-->
<!--                <pattern>%p%d%msg%M%F{32}%L</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--        <file>${LOG_HOME}/WARN-log.html</file>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 根日志输出级别 &ndash;&gt;-->
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--        <appender-ref ref="FILE" />-->
<!--        <appender-ref ref="HtmlFile" />-->
<!--    </root>-->

<!--    &lt;!&ndash;自定义日志级别配置，指定我们项目都是debug级别 &ndash;&gt;-->
<!--    <logger name="com.moyundong" level="debug" />-->

<!--</configuration>-->