<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqijun.localservice.store.dao.LsGoodsMapper">

    <select id="getIndexPageData" resultType="com.yuqijun.localservice.model.dao.LsGoods">
        SELECT  0 as purchase_quantity, goods_id, goods_name,goods_avatar, goods_description, goods_sales_volume, goods_price, "title"  FROM tb_goods
        WHERE store_id = #{storeId}
    </select>

</mapper>